@import "bootstrap";
@import "slick/slick";
@import "slick/slick-theme";
//colors
$yellow: #ff0;
$black: #000;
$silver: #c0c0c0;
$color_mercury_approx: #e7e7e7;
$color_dove_gray_approx: #696f6f;
$color_go_ben_approx: #748247;
$color_mine_shaft_approx: #2e2e2e;
$color_log_cabin_approx: #222;
$white: #fff;
$color_masala_approx: #3a3a3a;
$color_green_kelp_approx: #262f1c;
$color_cod_gray_approx: #0a0a0a;
$color_fuscous_gray_approx: #525252;
$color_chelsea_cucumber_approx: #96a75f;
$black_7_5: rgba(0, 0, 0, 0.075);
$color_fern_60_approx: rgba(98, 196, 98, 0.6);
$color_fountain_blue_approx: #52bab3;
$color_froly_approx: #e67478;
$color_coral_approx: #ff784f;
$color_purple_mountains_majesty_approx: #9279c3;
$white_70: rgba(255, 255, 255, 0.7);

//fonts
$font_0: sans-serif;
$font_1: monospace;
$font_2: Open Sans;
$font_3: Montserrat;
$font_4: Helvetica Neue;
$font_5: Helvetica;
$font_6: Arial;

//urls
$url_0: url(../img/LaJollaBg.jpg);
$url_1: url(../img/black_wood.jpg);
$url_2: url(../img/ebay.png);
$url_3: url(http://www.clker.com/cliparts/0/d/3/2/12205452201820142176shokunin_World_Map.svg.hi.png);
$url_4: url(http://i.imgur.com/Yv19ZHz.jpg);
$url_5: url(../img/pattern.png);
$url_6: url(../img/DSC_00655.JPG);
$url_7: url(img/logo.svg);

//@extend-elements
//original selectors
//.headline-primary:after, .headline-secondary:after, .headline-alternative:after, .icn--nav-toggle:before
%extend_1 {
	content: '';
	display: block;
	position: absolute;
}


.srt {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

video {
	max-width: 100%;
	height: auto;
	display: inline-block;
	vertical-align: baseline;
}

.slogan {
	text-align: center;
	background: $color_mercury_approx;
	text-transform: uppercase;
	display: block;

	.slogan-text {
		padding: 4em 0;
		font-family: $font_3, $font_4, $font_5, $font_6, $font_0;
		color: $color_masala_approx;
		letter-spacing: 0.07em;
	}
}

.panel--centered {
	text-align: center;
	padding-top: 2.10938rem;
	padding-bottom: 1.40625rem;
}

.panel--padded--centered {
	text-align: center;
	padding-top: 5.625rem;
	padding-bottom: 2.39063rem;
}

[class^="btn--"] {
	text-align: center;
	padding: 15px 30px;
	border: 0;

	border-radius: 0.4em;
	color: $white;
	text-transform: uppercase;
	font-weight: 700;
	font-family: $font_3, $font_4, $font_5, $font_6, $font_0;

	transition: opacity 0.3s;
	display: block;
	text-decoration: none;
	margin-bottom: 1.60714rem;
	width: auto;
	display: inline-block;
	margin-right: 1.20536rem;

	&:hover {
		background: $color_chelsea_cucumber_approx;
	}

	&:active {
		opacity: initial;
	}
}

.headline-primary {
	color: $color_cod_gray_approx;
	font-size: 2.95313rem;
	line-height: 1.09524;
	margin-top: 0;
	font-size: 3.51563rem;
	line-height: 1.30952;
	margin-bottom: 1.3em;
	font-weight: 300;
	text-transform: uppercase;
	position: relative;
	letter-spacing: 1px;
	font-family: $font_3, $font_4, $font_5, $font_6, $font_0;
	color: $color_mine_shaft_approx;
	text-align: center;

	&:after {
		@extend %extend_1;
		width: 7.03125rem;
		height: 0.28125rem;
		left: 50%;
		background: $color_go_ben_approx;
		bottom: -0.49219rem;
		margin-left: -3.51563rem;

		border-radius: 0.07031rem;
	}
}

.headline-secondary {
	color: $color_fuscous_gray_approx;
	font-weight: 100;
	font-size: 1.6875rem;
	font-family: $font_2, $font_0;
	font-size: 2.8125rem;
	font-weight: 300;
	line-height: 1.5em;
	margin-bottom: 1em;
	position: relative;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: $font_3, $font_4, $font_5, $font_6, $font_0;
	text-align: center;

	&:after {
		@extend %extend_1;
		width: 7.03125rem;
		height: 0.28125rem;
		left: 50%;
		background: $color_go_ben_approx;
		bottom: -0.49219rem;
		margin-left: -3.51563rem;

		border-radius: 0.07031rem;
	}
}

.headline-alternative {
	font-weight: 300;
	line-height: 1.5em;
	margin-bottom: 1em;
	position: relative;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: $font_3, $font_4, $font_5, $font_6, $font_0;
	text-align: center;

	&:after {
		@extend %extend_1;
		width: 3.51563rem;
		height: 0.14063rem;
		left: 50%;
		background: $color_go_ben_approx;
		bottom: -0.28125rem;
		margin-left: -1.75781rem;

		border-radius: 0.07031rem;
	}
}

.icn--nav-toggle {
	line-height: 0;
	cursor: pointer;
	width: 25px;
	height: 17px;
	border-top: solid 3px $color_mine_shaft_approx;
	border-bottom: solid 3px $color_mine_shaft_approx;
	position: relative;

	&:before {
		@extend %extend_1;
		width: 25px;
		height: 3px;
		left: 50%;
		background: $color_fuscous_gray_approx;
		top: 4px;
	}
}

.centered {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

@media only screen and(min-width: 768px) {
	.flexbg {
		display: flex;
	}
}

.aligner {
	display: flex;
	align-items: center;
	justify-content: center;

	&:before {
		content: "";
		display: block;
		padding-top: 50%;
	}
}

.aligner-item {
	max-width: 50%;
}

@media(max-width: 1024px) {
	.aligner-item {
		max-width: 75%;
	}
}

html {
	font-family: $font_0;
	width: 100%;
	height: 100%;

	input[type="button"] {
		cursor: pointer;
	}

	input[disabled] {
		cursor: default;
	}
}

body {
	margin: 0;
	width: 100%;
	height: 100%;
}

article {
	display: block;
}

aside {
	display: block;
}

details {
	display: block;
}

figcaption {
	display: block;
}

figure {
	display: block;
	margin: 1em 40px;
}

footer {
	display: block;
}

header {
	display: block;
}

hgroup {
	display: block;
}

main {
	display: block;
}

nav {
	display: block;
}

section {
	display: block;
}

summary {
	display: block;
}

audio {
	display: inline-block;
	vertical-align: baseline;

	&:not([controls]) {
		display: none;
		height: 0;
	}
}

canvas {
	display: inline-block;
	vertical-align: baseline;
}

progress {
	display: inline-block;
	vertical-align: baseline;
}

[hidden] {
	display: none;
}

template {
	display: none;
}

a {
	background: transparent;

	&:active {
		outline: 0;
	}

	&:hover {
		outline: 0;
	}
}

abbr[title] {
	border-bottom: 1px dotted;
}

b {
	font-weight: bold;
}

strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: $yellow;
	color: $black;
}

small {
	font-size: 80%;
}

sub {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	bottom: -0.25em;
}

sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	top: -0.5em;
}

img {
	border: 0;
}

hr {

	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
	font-family: $font_1, $font_1;
	font-size: 1em;
}

code {
	font-family: $font_1, $font_1;
	font-size: 1em;
}

kbd {
	font-family: $font_1, $font_1;
	font-size: 1em;
}

samp {
	font-family: $font_1, $font_1;
	font-size: 1em;
}

button {
	color: inherit;
	font: inherit;
	margin: 0;
	overflow: visible;
	text-transform: none;
	cursor: pointer;
}

input {
	color: inherit;
	font: inherit;
	margin: 0;
	line-height: normal;
}

optgroup {
	color: inherit;
	font: inherit;
	margin: 0;
	font-weight: bold;
}

select {
	color: inherit;
	font: inherit;
	margin: 0;
	text-transform: none;
}

textarea {
	color: inherit;
	font: inherit;
	margin: 0;
	overflow: auto;

	&:focus {
		border-color: $color_go_ben_approx;
		outline: 0;
		outline: thin dotted \9;

		box-shadow: inset 0 1px 1px $black_7_5, 0 0 8px $color_fern_60_approx;
	}
}

input[type="reset"] {
	cursor: pointer;
}

input[type="submit"] {
	cursor: pointer;
}

button[disabled] {
	cursor: default;
}

button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

* {

	box-sizing: border-box;

	input[type="checkbox"] {

		box-sizing: border-box;
		padding: 0;
	}
}

input[type="radio"] {

	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button {
	height: auto;
}

input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {

	box-sizing: content-box;

	&:focus {
		border-color: $color_go_ben_approx;
		outline: 0;
		outline: thin dotted \9;

		box-shadow: inset 0 1px 1px $black_7_5, 0 0 8px $color_fern_60_approx;
	}
}

input[type="search"]::-webkit-search-cancel-button {}

input[type="search"]::-webkit-search-decoration {}

fieldset {
	border: 1px solid $silver;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td {
	padding: 0;
}

th {
	padding: 0;
}

.about {
	background: $color_mercury_approx;
	padding-top: 5.27344rem;
	padding-bottom: 7.03125rem;
}

.about__text--paragraph {
	font-size: 1.6875rem;
	line-height: 1.5;
	color: $color_dove_gray_approx;
	font-family: $font_2, $font_0;
	text-indent: 50px;
}

.boxes {
	padding: 0;

	p {
		font-family: $font_2, $font_0;
	}
}

.boxes__box--1 {
	background: $color_go_ben_approx;
	text-transform: uppercase;
	color: $color_mine_shaft_approx;

	li {
		font-size: 1.6875rem;
	}

	.headline-secondary {
		margin-top: 0;
		padding-top: 18px;
		color: $color_log_cabin_approx;

		&:after {
			background: $color_mercury_approx;
		}
	}

	span p {
		text-transform: uppercase;
		text-align: center;
	}
}

.boxes__box--2 {
	background-image: $url_0;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	background-attachment: fixed;

	img {
		display: block;
	}

	button {
		margin: 0.70313rem auto 0 auto;
		background: $color_go_ben_approx;
		padding: 15px 30px;
		border: 0;

		border-radius: 0.4em;
		color: $white;
		text-transform: uppercase;
		font-weight: 700;
		font-family: $font_3, $font_4, $font_5, $font_6, $font_0;

		transition: opacity 0.3s;
		display: block;
		text-decoration: none;

		&:hover {
			background: $color_chelsea_cucumber_approx;
		}

		&:active {
			opacity: initial;
		}
	}

	a:hover {
		text-decoration: none;
	}
}

.boxes__box--3 {
	background-image: $url_1;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
	overflow: hidden;
	color: $color_mercury_approx;

	.test {
		background: $url_2;
		background-repeat: no-repeat;
		background-position: center top;
		padding-top: 3.51563rem;
	}
}

.boxes__box--4 {
	background: $color_mine_shaft_approx;
	color: $white;
	position: relative;

	&:after {
		content: "";
		background: $url_3;
		background-size: 80%;
		background-position: center;
		background-repeat: no-repeat;
		opacity: 0.1;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		z-index: 0;
	}

	.headline-secondary {
		color: $white;
	}

	p {
		text-indent: 3.51563rem;
		font-size: 1.6875rem;
		line-height: 1.66667;
		text-transform: uppercase;
		z-index: 5;
		opacity: 1;
	}

	.aligner-item {
		max-width: 75%;
	}
}

.slogan__title--sub {
	max-width: 75%;
	margin: 0 auto;
	line-height: 1.5em;
}

.jon {
	background: $color_masala_approx;
}

.jon__text {
	color: $color_mercury_approx;

	.aligner-item {
		max-width: 90%;
	}

	.headline-secondary {
		color: $white;
	}

	p {
		text-indent: 3.51563rem;
		font-size: 1.6875rem;
		line-height: 1.5;
		font-family: $font_2, $font_0;
		text-indent: 50px;
	}

	blockquote {
		text-indent: 25px;
		font-size: 1.1em;
		line-height: 1.5em;
		font-family: $font_2, $font_0;
		border-left: 0;

		footer {
			font-size: 1.5em;
		}
	}
}

.jon__text--image {
	background: $url_4, $color_mine_shaft_approx;
	background-size: 75%;
	background-position: center;
	background-repeat: no-repeat;
}

.footer {
	border-top: 2px solid $color_go_ben_approx;
	background: $color_mercury_approx;
	text-align: center;
	padding: 1.5em 0;

	.footer-logo {
		max-height: 80px;
		padding-right: 30px;
		display: inline-block;
	}

	.tr-logo {
		height: 60px;
		display: inline-block;
		padding-left: 15px;
		border-left: 2px solid $color_go_ben_approx;
	}
}

.icon-shell {

	border-radius: 50%;
	height: 80px;
	width: 80px;
	background: $white;
	border: 4px solid $color_green_kelp_approx;
	vertical-align: middle;
	margin-left: 30px;

	&:hover {
		background: $color_mercury_approx;

		transition: all 0.3s;

		i {
			font-size: 40px;

			transition: all 0.3s;
		}
	}

	a {
		color: $color_green_kelp_approx;
	}

	i {
		line-height: 80px;
		font-size: 30px;
	}
}

.panel {
	padding-top: 2.10938rem;
	padding-bottom: 1.40625rem;
}

.panel--padded {
	padding-top: 5.625rem;
	padding-bottom: 2.39063rem;
}

.contact {
	font-family: $font_2, $font_0;
	font-weight: 400;
	color: $color_masala_approx;
	padding-bottom: 3em;

	button {
		padding: 15px 30px;
		border: 0;

		border-radius: 0.4em;
		color: $white;
		text-transform: uppercase;
		font-weight: 700;
		font-family: $font_3, $font_4, $font_5, $font_6, $font_0;

		transition: opacity 0.3s;
		display: block;
		text-decoration: none;
		background: $color_go_ben_approx;

		&:hover {
			background: $color_chelsea_cucumber_approx;
		}

		&:active {
			opacity: initial;
		}
	}

	label {
		text-transform: uppercase;
	}
}

.bnbt {
	border: 1px solid $color_mine_shaft_approx;
	padding: 15px;
	width: 50px;
	position: absolute;
	top: calc(50% - 38px);
	cursor: pointer;
	z-index: 1;
	left: 0;
	border-left: none;

	&:hover {
		background: $white_70;

		transition: .2s;
	}
}

.bbbt {
	border: 1px solid $color_mine_shaft_approx;
	padding: 15px;
	width: 50px;
	position: absolute;
	top: calc(50% - 38px);
	cursor: pointer;
	z-index: 1;
	right: 0;
	border-right: none;

	&:hover {
		background: $white_70;

		transition: .2s;
	}
}

.section-mask {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: repeat;
	background: $url_5;
	background-attachment: fixed;
}

.main-hero {
	width: 100%;
	overflow: hidden;
	height: 65rem;
	position: relative;
	background-image: $url_6;
	background-size: cover;
	background-position: center 45%;
}

.image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 0;
}

.image__section {
	padding: 0;
}

.image__section--images {
	float: left;
	max-height: 600px;
}

.btn--default {
	background-color: $color_fountain_blue_approx;
}

.btn--success {
	background-color: $color_go_ben_approx;
}

.btn--error {
	background-color: $color_froly_approx;
}

.btn--warning {
	background-color: $color_coral_approx;
}

.btn--info {
	background-color: $color_purple_mountains_majesty_approx;
}

.navbar-default {
	background-color: $white;
	border-bottom: 5px solid $color_go_ben_approx;
	min-height: 55px;
	text-transform: uppercase;
	color: $color_log_cabin_approx;

	.navbar-nav>.active>a {
		background: transparent;

		&:hover {
			background: transparent;
			color: $color_go_ben_approx;
		}

		&:focus {
			background: transparent;
			color: $color_go_ben_approx;
		}

		&:after {
			content: "";
			display: block;
			border-bottom: 2px solid $color_go_ben_approx;
			background: transparent;
			width: 80%;
			margin: 0 auto;
			position: relative;
			top: 5px;
		}
	}

	.nav li a {
		color: $color_log_cabin_approx;
		font-weight: 400;
		font-family: $font_3, $font_4, $font_5, $font_6, $font_0;
		letter-spacing: 0.05em;
		font-size: 1em;

		transition: all 0.3s;

		&:hover {
			outline: 0;
			color: $color_go_ben_approx;
		}

		&:focus {
			outline: 0;
			color: $color_go_ben_approx;
		}
	}
}

.navbar-brand {
	font-size: 1.125rem;
	line-height: 2;
}

#header__bg {
	position: absolute;
	left: 10%;
	margin-top: -55px;
	width: 180px;
	height: 180px;
	border-bottom: 10px solid $color_go_ben_approx;

	border-radius: 100%;
	background: $white;
	z-index: -2;
}

.header__bg {
	position: fixed;
	left: 10%;
	min-width: 120px;
	max-width: 120px;
	min-height: 120px;
	max-height: 120px;
	margin-left: 30.5px;
	padding: 0;
	text-align: center;
}

.header__bg--logo {
	min-width: 105px;
	max-width: 105px;
	min-height: 105px;
	max-height: 105px;
}

@media(min-width: 767px) {
	.navbar {
		padding: 20px 0;

		transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
	}

	.top-nav-collapse {
		padding: 0;
	}

	.navbar-default {
		padding: 25px 0;

		transition: padding 0.3s;
	}
}

.site-logo {
	background-image: $url_7;
	background-repeat: no-repeat;
	width: 115px;
	height: 45px;
	display: inline-block;
}

.fa-chevron-down {
	position: absolute;
	bottom: 1.875rem;
	left: 50%;
	font-size: 3.25rem;
	color: $color_go_ben_approx;

	transform: translateX(-50%);
	z-index: 3;
}

svg:not(:root) {
	overflow: hidden;
}

h3.footer__slogan {
	text-transform: uppercase;
	font-family: $font_3, $font_4, $font_5, $font_6, $font_0;
	font-weight: 400;
}

li.tr-section {
	vertical-align: middle;
	text-align: left;
	padding-right: 15px;
	border-right: 2px solid $color_go_ben_approx;

	a {
		color: $color_go_ben_approx;
	}
}

input[type="text"]:focus {
	border-color: $color_go_ben_approx;
	outline: 0;
	outline: thin dotted \9;

	box-shadow: inset 0 1px 1px $black_7_5, 0 0 8px $color_fern_60_approx;
}

input[type="password"]:focus {
	border-color: $color_go_ben_approx;
	outline: 0;
	outline: thin dotted \9;

	box-shadow: inset 0 1px 1px $black_7_5, 0 0 8px $color_fern_60_approx;
}

input[type="datetime"]:focus {
	border-color: $color_go_ben_approx;
	outline: 0;
	outline: thin dotted \9;

	box-shadow: inset 0 1px 1px $black_7_5, 0 0 8px $color_fern_60_approx;
}

input[type="datetime-local"]:focus {
	border-color: $color_go_ben_approx;
	outline: 0;
	outline: thin dotted \9;

	box-shadow: inset 0 1px 1px $black_7_5, 0 0 8px $color_fern_60_approx;
}

input[type="date"]:focus {
	border-color: $color_go_ben_approx;
	outline: 0;
	outline: thin dotted \9;

	box-shadow: inset 0 1px 1px $black_7_5, 0 0 8px $color_fern_60_approx;
}

input[type="month"]:focus {
	border-color: $color_go_ben_approx;
	outline: 0;
	outline: thin dotted \9;

	box-shadow: inset 0 1px 1px $black_7_5, 0 0 8px $color_fern_60_approx;
}

input[type="time"]:focus {
	border-color: $color_go_ben_approx;
	outline: 0;
	outline: thin dotted \9;

	box-shadow: inset 0 1px 1px $black_7_5, 0 0 8px $color_fern_60_approx;
}

input[type="week"]:focus {
	border-color: $color_go_ben_approx;
	outline: 0;
	outline: thin dotted \9;

	box-shadow: inset 0 1px 1px $black_7_5, 0 0 8px $color_fern_60_approx;
}

input[type="number"]:focus {
	border-color: $color_go_ben_approx;
	outline: 0;
	outline: thin dotted \9;

	box-shadow: inset 0 1px 1px $black_7_5, 0 0 8px $color_fern_60_approx;
}

input[type="email"]:focus {
	border-color: $color_go_ben_approx;
	outline: 0;
	outline: thin dotted \9;

	box-shadow: inset 0 1px 1px $black_7_5, 0 0 8px $color_fern_60_approx;
}

input[type="url"]:focus {
	border-color: $color_go_ben_approx;
	outline: 0;
	outline: thin dotted \9;

	box-shadow: inset 0 1px 1px $black_7_5, 0 0 8px $color_fern_60_approx;
}

input[type="tel"]:focus {
	border-color: $color_go_ben_approx;
	outline: 0;
	outline: thin dotted \9;

	box-shadow: inset 0 1px 1px $black_7_5, 0 0 8px $color_fern_60_approx;
}

input[type="color"]:focus {
	border-color: $color_go_ben_approx;
	outline: 0;
	outline: thin dotted \9;

	box-shadow: inset 0 1px 1px $black_7_5, 0 0 8px $color_fern_60_approx;
}

.uneditable-input:focus {
	border-color: $color_go_ben_approx;
	outline: 0;
	outline: thin dotted \9;

	box-shadow: inset 0 1px 1px $black_7_5, 0 0 8px $color_fern_60_approx;
}

.form-control:focus {
	border-color: $color_go_ben_approx;
	outline: 0;
	outline: thin dotted \9;

	box-shadow: inset 0 1px 1px $black_7_5, 0 0 8px $color_fern_60_approx;
}
