@import "bootstrap";
@import "slick/slick";
@import "slick/slick-theme";
//colors
$yellow: #ffff00;
$black: #000000;
$silver: #c0c0c0;
$color-mercury: #e7e7e7;
$color-dove-gray: #696f6f;
$color-go-ben: #748247;
$color-mine-shaft: #2e2e2e;
$color-log-cabin: #222222;
$white: #ffffff;
$color-masala: #3a3a3a;
$color-green-kelp: #262f1c;
$color-cod-gray: #0a0a0a;
$color-fuscous-gray: #525252;
$color-chelsea-cucumber: #96a75f;
$black-7: rgba(0, 0, 0, 0.075);
$color-fern-60: rgba(98, 196, 98, 0.6);
$color-fountain-blue: #52bab3;
$color-froly: #e67478;
$color-coral: #ff784f;
$color-purple-mountains-majesty: #9279c3;
$white-70: rgba(255, 255, 255, 0.7);

//fonts
$font-0: sans-serif;
$font-1: monospace;
$font-2: Open Sans;
$font-3: Montserrat;
$font-4: Helvetica Neue;
$font-5: Helvetica;
$font-6: Arial;

//urls
$url-0: url(../img/backgrounds/LaJollaBg.jpg);
$url-1: url(../img/backgrounds/black_wood.jpg);
$url-2: url(../img/ebay/ebay-logo.png);
$url-3: url(http://www.clker.com/cliparts/0/d/3/2/12205452201820142176shokunin_World_Map.svg.hi.png);
$url-4: url(http://i.imgur.com/Yv19ZHz.jpg);
$url-5: url(../img/backgrounds/pattern.png);
$url-6: url(../img/DSC_00655.JPG);
$url-7: url(img/logo.svg);

//@extend-elements
//original selectors
//.headline-primary:after, .headline-secondary:after, .headline-alternative:after, .icn--nav-toggle:before
%extend-1 {
	content: "";
	display: block;
	position: absolute;
}


.srt {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

video {
	display: inline-block;
	height: auto;
	max-width: 100%;
	vertical-align: baseline;
}

.slogan {
	background: $color-mercury;
	display: block;
	text-align: center;
	text-transform: uppercase;

	.slogan-text {
		color: $color-masala;
		font-family: $font-3, $font-4, $font-5, $font-6, $font-0;
		letter-spacing: 0.07em;
		padding: 4em 0;
	}
}

.panel--centered {
	padding-bottom: 1.40625rem;
	padding-top: 2.10938rem;
	text-align: center;
}

.panel--padded--centered {
	padding-bottom: 2.39063rem;
	padding-top: 5.625rem;
	text-align: center;
}

[class^="btn--"] {
	border: 0;
	border-radius: 0.4em;
	color: $white;
	display: inline-block;
	font-family: $font-3, $font-4, $font-5, $font-6, $font-0;
	font-weight: 700;
	margin-bottom: 1.60714rem;
	margin-right: 1.20536rem;
	padding: 15px 30px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: opacity 0.3s;
	width: auto;

	&:hover {
		background: $color-chelsea-cucumber;
	}

	&:active {
		opacity: initial;
	}
}

.headline-primary {
	// font-size: 2.95313rem;
	// line-height: 1.09524;
	// color: $color-cod-gray;
	color: $color-mine-shaft;
	font-family: $font-3, $font-4, $font-5, $font-6, $font-0;
	font-size: 3.51563rem;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 1.30952;
	margin-bottom: 1.3em;
	margin-top: 0;
	position: relative;
	text-align: center;
	text-transform: uppercase;

	&::after {
		@extend %extend-1;
		background: $color-go-ben;
		border-radius: 0.07031rem;
		bottom: -0.49219rem;
		height: 0.28125rem;
		left: 50%;
		margin-left: -3.51563rem;
		width: 7.03125rem;
	}
}

.headline-secondary {
	// font-size: 1.6875rem;
	// font-weight: 100;
	// font-family: $font-2, $font-0;
	color: $color-fuscous-gray;
	font-family: $font-3, $font-4, $font-5, $font-6, $font-0;
	font-size: 2.8125rem;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 1.5em;
	margin-bottom: 1em;
	position: relative;
	text-align: center;
	text-transform: uppercase;

	&::after {
		@extend %extend-1;
		background: $color-go-ben;
		border-radius: 0.07031rem;
		bottom: -0.49219rem;
		height: 0.28125rem;
		left: 50%;
		margin-left: -3.51563rem;
		width: 7.03125rem;
	}
}

.headline-alternative {
	font-family: $font-3, $font-4, $font-5, $font-6, $font-0;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 1.5em;
	margin-bottom: 1em;
	position: relative;
	text-align: center;
	text-transform: uppercase;

	&::after {
		@extend %extend-1;
		background: $color-go-ben;
		border-radius: 0.07031rem;
		bottom: -0.28125rem;
		height: 0.14063rem;
		left: 50%;
		margin-left: -1.75781rem;
		width: 3.51563rem;
	}
}

.icn--nav-toggle {
	border-bottom: solid 3px $color-mine-shaft;
	border-top: solid 3px $color-mine-shaft;
	cursor: pointer;
	height: 17px;
	line-height: 0;
	position: relative;
	width: 25px;

	&::before {
		@extend %extend-1;
		background: $color-fuscous-gray;
		height: 3px;
		left: 50%;
		top: 4px;
		width: 25px;
	}
}

.centered {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

@media only screen and(min-width: 768px) {
	.flexbg {
		display: flex;
	}
}

.aligner {
	align-items: center;
	display: flex;
	justify-content: center;

	&::before {
		content: "";
		display: block;
		padding-top: 50%;
	}
}

.aligner-item {
	max-width: 50%;
}

@media(max-width: 1024px) {
	.aligner-item {
		max-width: 75%;
	}
}

html {
	font-family: $font-0;
	height: 100%;
	width: 100%;

	input[type="button"] {
		cursor: pointer;
	}

	input[disabled] {
		cursor: default;
	}
}

body {
	height: 100%;
	margin: 0;
	width: 100%;
}

article {
	display: block;
}

aside {
	display: block;
}

details {
	display: block;
}

figcaption {
	display: block;
}

figure {
	display: block;
	margin: 1em 40px;
}

footer {
	display: block;
}

header {
	display: block;
}

hgroup {
	display: block;
}

main {
	display: block;
}

nav {
	display: block;
}

section {
	display: block;
}

summary {
	display: block;
}

audio {
	display: inline-block;
	vertical-align: baseline;

	&:not([controls]) {
		display: none;
		height: 0;
	}
}

canvas {
	display: inline-block;
	vertical-align: baseline;
}

progress {
	display: inline-block;
	vertical-align: baseline;
}

[hidden] {
	display: none;
}

template {
	display: none;
}

a {
	background: transparent;

	&:active {
		outline: 0;
	}

	&:hover {
		outline: 0;
	}
}

abbr[title] {
	border-bottom: 1px dotted;
}

b {
	font-weight: bold;
}

strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: $yellow;
	color: $black;
}

small {
	font-size: 80%;
}

sub {
	bottom: -0.25em;
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	top: -0.5em;
	vertical-align: baseline;
}

img {
	border: 0;
}

hr {

	box-sizing: content-box;
	height: 0;
}

pre {
	font-family: $font-1, $font-1;
	font-size: 1em;
	overflow: auto;
}

code {
	font-family: $font-1, $font-1;
	font-size: 1em;
}

kbd {
	font-family: $font-1, $font-1;
	font-size: 1em;
}

samp {
	font-family: $font-1, $font-1;
	font-size: 1em;
}

button {
	color: inherit;
	cursor: pointer;
	font: inherit;
	margin: 0;
	overflow: visible;
	text-transform: none;
}

input {
	color: inherit;
	font: inherit;
	line-height: normal;
	margin: 0;
}

optgroup {
	color: inherit;
	font: inherit;
	font-weight: bold;
	margin: 0;
}

select {
	color: inherit;
	font: inherit;
	margin: 0;
	text-transform: none;
}

textarea {
	color: inherit;
	font: inherit;
	margin: 0;
	overflow: auto;

	&:focus {
		border-color: $color-go-ben;
		box-shadow: inset 0 1px 1px $black-7, 0 0 8px $color-fern-60;
		outline: 0;
	}
}

input[type="reset"] {
	cursor: pointer;
}

input[type="submit"] {
	cursor: pointer;
}

button[disabled] {
	cursor: default;
}

button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

* {

	box-sizing: border-box;

	input[type="checkbox"] {

		box-sizing: border-box;
		padding: 0;
	}
}

input[type="radio"] {

	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button {
	height: auto;
}

input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {

	box-sizing: content-box;

	&:focus {
		border-color: $color-go-ben;
		box-shadow: inset 0 1px 1px $black-7, 0 0 8px $color-fern-60;
		outline: 0;
	}
}

fieldset {
	border: 1px solid $silver;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td {
	padding: 0;
}

th {
	padding: 0;
}

.about {
	background: $color-mercury;
	padding-bottom: 7.03125rem;
	padding-top: 5.27344rem;
}

.about__text--paragraph {
	color: $color-dove-gray;
	font-family: $font-2, $font-0;
	font-size: 1.6875rem;
	line-height: 1.5;
	text-indent: 50px;
}

.boxes {
	padding: 0;

	p {
		font-family: $font-2, $font-0;
	}
}

.boxes__box--1 {
	background: $color-go-ben;
	color: $color-mine-shaft;
	text-transform: uppercase;

	li {
		font-size: 1.6875rem;
	}

	.headline-secondary {
		color: $color-log-cabin;
		margin-top: 0;
		padding-top: 18px;

		&::after {
			background: $color-mercury;
		}
	}

	span p {
		text-align: center;
		text-transform: uppercase;
	}
}

.boxes__box--2 {
	background-attachment: fixed;
	background-image: $url-0;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;

	img {
		display: block;
	}

	button {
		background: $color-go-ben;
		border: 0;
		border-radius: 0.4em;
		color: $white;
		display: block;
		font-family: $font-3, $font-4, $font-5, $font-6, $font-0;
		font-weight: 700;
		margin: 0.70313rem auto 0;
		padding: 15px 30px;
		text-decoration: none;
		text-transform: uppercase;
		transition: opacity 0.3s;

		&:hover {
			background: $color-chelsea-cucumber;
		}

		&:active {
			opacity: initial;
		}
	}

	a:hover {
		text-decoration: none;
	}
}

.boxes__box--3 {
	background-attachment: fixed;
	background-image: $url-1;
	background-repeat: no-repeat;
	background-size: cover;
	color: $color-mercury;
	overflow: hidden;
	text-align: center;

	.test {
		background: $url-2;
		background-position: center top;
		background-repeat: no-repeat;
		padding-top: 3.51563rem;
	}
}

.boxes__box--4 {
	background: $color-mine-shaft;
	color: $white;
	position: relative;

	&::after {
		background: $url-3;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 80%;
		bottom: 0;
		content: "";
		left: 0;
		opacity: 0.1;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 0;
	}

	.headline-secondary {
		color: $white;
	}

	p {
		font-size: 1.6875rem;
		line-height: 1.66667;
		opacity: 1;
		text-indent: 3.51563rem;
		text-transform: uppercase;
		z-index: 5;
	}

	.aligner-item {
		max-width: 75%;
	}
}

.slogan__title--sub {
	line-height: 1.5em;
	margin: 0 auto;
	max-width: 75%;
}

.jon {
	background: $color-masala;
}

.jon__text {
	color: $color-mercury;

	.aligner-item {
		max-width: 90%;
	}

	.headline-secondary {
		color: $white;
	}

	p {
		font-family: $font-2, $font-0;
		font-size: 1.6875rem;
		line-height: 1.5;
		text-indent: 50px;
	}

	blockquote {
		border-left: 0;
		font-family: $font-2, $font-0;
		font-size: 1.1em;
		line-height: 1.5em;
		text-indent: 25px;

		footer {
			font-size: 1.5em;
		}
	}
}

.jon__text--image {
	background: $url-4, $color-mine-shaft;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 75%;
}

.footer {
	background: $color-mercury;
	border-top: 2px solid $color-go-ben;
	padding: 1.5em 0;
	text-align: center;

	.footer-logo {
		display: inline-block;
		max-height: 80px;
		padding-right: 30px;
	}

	.tr-logo {
		border-left: 2px solid $color-go-ben;
		display: inline-block;
		height: 60px;
		padding-left: 15px;
	}
}

.icon-shell {
	background: $white;
	border: 4px solid $color-green-kelp;
	border-radius: 50%;
	height: 80px;
	margin-left: 30px;
	vertical-align: middle;
	width: 80px;

	&:hover {
		background: $color-mercury;
		transition: all 0.3s;

		i {
			font-size: 40px;
			transition: all 0.3s;
		}
	}

	a {
		color: $color-green-kelp;
	}

	i {
		font-size: 30px;
		line-height: 80px;
	}
}

.panel {
	padding-bottom: 1.40625rem;
	padding-top: 2.10938rem;
}

.panel--padded {
	padding-bottom: 2.39063rem;
	padding-top: 5.625rem;
}

.contact {
	color: $color-masala;
	font-family: $font-2, $font-0;
	font-weight: 400;
	padding-bottom: 3em;

	button {
		background: $color-go-ben;
		border: 0;
		border-radius: 0.4em;
		color: $white;
		display: block;
		font-family: $font-3, $font-4, $font-5, $font-6, $font-0;
		font-weight: 700;
		padding: 15px 30px;
		text-decoration: none;
		text-transform: uppercase;
		transition: opacity 0.3s;

		&:hover {
			background: $color-chelsea-cucumber;
		}

		&:active {
			opacity: initial;
		}
	}

	label {
		text-transform: uppercase;
	}
}

.bnbt {
	border: 1px solid $color-mine-shaft;
	border-left: 0;
	cursor: pointer;
	left: 0;
	padding: 15px;
	position: absolute;
	top: calc(50% - 38px);
	width: 50px;
	z-index: 1;

	&:hover {
		background: $white-70;

		transition: .2s;
	}
}

.bbbt {
	border: 1px solid $color-mine-shaft;
	border-right: 0;
	cursor: pointer;
	padding: 15px;
	position: absolute;
	right: 0;
	top: calc(50% - 38px);
	width: 50px;
	z-index: 1;

	&:hover {
		background: $white-70;

		transition: .2s;
	}
}

.section-mask {
	background: $url-5;
	background-attachment: fixed;
	background-repeat: repeat;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2;
}

.main-hero {
	background-image: $url-6;
	background-position: center 45%;
	background-size: cover;
	height: 65rem;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	text-align: center;
}

.image__section {
	padding: 0;
}

.image__section--images {
	float: left;
	max-height: 600px;
}

.btn--default {
	background-color: $color-fountain-blue;
}

.btn--success {
	background-color: $color-go-ben;
}

.btn--error {
	background-color: $color-froly;
}

.btn--warning {
	background-color: $color-coral;
}

.btn--info {
	background-color: $color-purple-mountains-majesty;
}

.navbar-default {
	background-color: $white;
	border-bottom: 5px solid $color-go-ben;
	color: $color-log-cabin;
	min-height: 55px;
	text-transform: uppercase;

	.navbar-nav>.active>a {
		background: transparent;

		&:hover {
			background: transparent;
			color: $color-go-ben;
		}

		&:focus {
			background: transparent;
			color: $color-go-ben;
		}

		&::after {
			background: transparent;
			border-bottom: 2px solid $color-go-ben;
			content: "";
			display: block;
			margin: 0 auto;
			position: relative;
			top: 5px;
			width: 80%;
		}
	}

	.nav li a {
		color: $color-log-cabin;
		font-family: $font-3, $font-4, $font-5, $font-6, $font-0;
		font-size: 1em;
		font-weight: 400;
		letter-spacing: 0.05em;
		transition: all 0.3s;

		&:hover {
			color: $color-go-ben;
			outline: 0;
		}

		&:focus {
			color: $color-go-ben;
			outline: 0;
		}
	}
}

.navbar-brand {
	font-size: 1.125rem;
	line-height: 2;
}

#header__bg {
	background: $white;
	border-bottom: 10px solid $color-go-ben;
	border-radius: 100%;
	height: 180px;
	left: 10%;
	margin-top: -55px;
	position: absolute;
	width: 180px;
	z-index: -2;
}

.header__bg {
	left: 10%;
	margin-left: 30.5px;
	max-height: 120px;
	max-width: 120px;
	min-height: 120px;
	min-width: 120px;
	padding: 0;
	position: fixed;
	text-align: center;
}

.header__bg--logo {
	max-height: 105px;
	max-width: 105px;
	min-height: 105px;
	min-width: 105px;
}

@media(min-width: 767px) {
	.navbar {
		padding: 20px 0;
		transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
	}

	.top-nav-collapse {
		padding: 0;
	}

	.navbar-default {
		padding: 25px 0;
		transition: padding 0.3s;
	}
}

.site-logo {
	background-image: $url-7;
	background-repeat: no-repeat;
	display: inline-block;
	height: 45px;
	width: 115px;
}

.fa-chevron-down {
	bottom: 1.875rem;
	color: $color-go-ben;
	font-size: 3.25rem;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	z-index: 3;
}

svg:not(:root) {
	overflow: hidden;
}

h3.footer__slogan {
	font-family: $font-3, $font-4, $font-5, $font-6, $font-0;
	font-weight: 400;
	text-transform: uppercase;
}

li.tr-section {
	border-right: 2px solid $color-go-ben;
	padding-right: 15px;
	text-align: left;
	vertical-align: middle;

	a {
		color: $color-go-ben;
	}
}

input[type="text"]:focus {
	border-color: $color-go-ben;
	box-shadow: inset 0 1px 1px $black-7, 0 0 8px $color-fern-60;
	outline: 0;
}

input[type="password"]:focus {
	border-color: $color-go-ben;
	box-shadow: inset 0 1px 1px $black-7, 0 0 8px $color-fern-60;
	outline: 0;
}

input[type="datetime"]:focus {
	border-color: $color-go-ben;
	box-shadow: inset 0 1px 1px $black-7, 0 0 8px $color-fern-60;
	outline: 0;
}

input[type="datetime-local"]:focus {
	border-color: $color-go-ben;
	box-shadow: inset 0 1px 1px $black-7, 0 0 8px $color-fern-60;
	outline: 0;
}

input[type="date"]:focus {
	border-color: $color-go-ben;
	box-shadow: inset 0 1px 1px $black-7, 0 0 8px $color-fern-60;
	outline: 0;
}

input[type="month"]:focus {
	border-color: $color-go-ben;
	box-shadow: inset 0 1px 1px $black-7, 0 0 8px $color-fern-60;
	outline: 0;
}

input[type="time"]:focus {
	border-color: $color-go-ben;
	box-shadow: inset 0 1px 1px $black-7, 0 0 8px $color-fern-60;
	outline: 0;
}

input[type="week"]:focus {
	border-color: $color-go-ben;
	box-shadow: inset 0 1px 1px $black-7, 0 0 8px $color-fern-60;
	outline: 0;
}

input[type="number"]:focus {
	border-color: $color-go-ben;
	box-shadow: inset 0 1px 1px $black-7, 0 0 8px $color-fern-60;
	outline: 0;
}

input[type="email"]:focus {
	border-color: $color-go-ben;
	box-shadow: inset 0 1px 1px $black-7, 0 0 8px $color-fern-60;
	outline: 0;
}

input[type="url"]:focus {
	border-color: $color-go-ben;
	box-shadow: inset 0 1px 1px $black-7, 0 0 8px $color-fern-60;
	outline: 0;
}

input[type="tel"]:focus {
	border-color: $color-go-ben;
	box-shadow: inset 0 1px 1px $black-7, 0 0 8px $color-fern-60;
	outline: 0;
}

input[type="color"]:focus {
	border-color: $color-go-ben;
	box-shadow: inset 0 1px 1px $black-7, 0 0 8px $color-fern-60;
	outline: 0;
}

.uneditable-input:focus {
	border-color: $color-go-ben;
	box-shadow: inset 0 1px 1px $black-7, 0 0 8px $color-fern-60;
	outline: 0;
}

.form-control:focus {
	border-color: $color-go-ben;
	box-shadow: inset 0 1px 1px $black-7, 0 0 8px $color-fern-60;
	outline: 0;
}
